<div class="project-badge">
	{% include badge-side-project-open-source.html %}
	<small>2010 - 2011</small>
</div> 

<p class="project-icon"><i class="icon-cloud"></i></p>

<h3>Zencoder .NET</h3>

<p class="byline">A .NET C# client library for the <a href="http://zencoder.com/">zencoder.com</a> API</p>

<p>
	Zencoder .NET is a fully object-oriented implementation of the Zencoder API for .NET. It is compatible with .NET 3.5 and above, has both synchronous and asynchronous APIs, and includes support for receiving and parsing HTTP notifications.
</p>

<p>
	<a href="https://github.com/ChadBurggraf/zencoder-cs">Project source code</a>
</p>