<div class="project-badge">
	{% include badge-side-project-private.html %}
	<small>2006 - 2012</small>
</div> 

<p class="project-icon"><i class="icon-lock"></i></p>

<h3>Virtual Keychain</h3>

<p class="byline">Easily manage all of your web sites, logins, and passwords</p>

<p>
	Virtual Keychain is an online password management database. Implemented as a static HTML page interacting with a JSON API, it allows users to store account credentials securely and anonymously. 
</p>

<p>
	The application has been online and available free of charge since 2006. Although not the most advanced password database available, its stability, ease of use, and anonymity have proved valuable to those that depend on it.
</p>

<p>
	<a href="https://virtualkeychain.com/">Project website</a>
</p>