<div class="project-badge">
	{% include badge-side-project-open-source.html %}
	<small>2009</small>
</div> 

<p class="project-icon"><i class="icon-copy"></i></p>

<h3>SWFClipboard</h3>

<p class="byline">JavaScript clipboard interface</p>

<p>
	SWFClipboard acts as an interface between JavaScript and the system clipboard. The script allows developers to provide copy/paste features on websites via a clean, simple API (with no dependencies):
</p>

<ul>
	<li>Instantiate as many SWFClipboard instances as necessary on a page</li>
	<li>Dynamically set which element triggers a copy operation, even after the SWFClipboard instance has been created</li>
	<li>Dynamically set the text to copy, even after the SWFClipboard instance has been created</li>
</ul>

<p>
	These features enable easy development of advanced scenarios, such as "ghosting" the mouse with an SWFClipboard instance in order to provide dynamic copy targets.
</p>

<p>
	<a href="https://github.com/ChadBurggraf/swfclipboard">Project source code</a>
</p>