---
title: Chad Burggraf
layout: default
---

<header class="header">
	<div>
		<img src="http://www.gravatar.com/avatar/aeb98450c2ecffb91d20afc296f70238.png?s=95" width="95" height="95" alt="">
	</div>
	<h1>Chad Burggraf</h1>
	<p>is a person, just like you.</p>
</header>

{% include contact.html %}

<section id="projects" class="projects">
	<h2>A Selection of Projects</h2>

	{% include project-jacket.html %}

	<hr class="soften">

	{% include project-blue-collar.html %}

	<hr class="soften">

	{% include project-i-am-search.html %}

	<hr class="soften">

	{% include project-serialization-plists.html %}

	<hr class="soften">

	{% include project-zencoder-net.html %}

	<hr class="soften">

	{% include project-wmd.html %}

	<hr class="soften">

	{% include project-swfclipboard.html %}

	<hr class="soften">

	{% include project-survey-engine.html %}

	<hr class="soften">

	{% include project-virtual-keychain.html %}
</section>