<h3>Desert Code Camp 2012.1</h3>

<p class="byline">Speaker</p>

<div class="row">
	<div class="span3">
		<strong>When</strong>
		<p class="date-time">
			<span class="date">November 17, 2012</span>
			<span class="time">@ TBD</span>
		</p>

		<strong>Where</strong>
		<div class="vcard">
			<a href="https://www.google.com/maps?q=Chandler-Gilbert+Community+College,+Chandler,+AZ&hl=en&ll=33.296225,-111.794107&spn=0.01225,0.020149&sll=33.292754,-111.796167&sspn=0.01225,0.020149&oq=chand&hq=Chandler-Gilbert+Community+College,+Chandler,+AZ&t=m&z=16&iwloc=A" target="_blank" class="fn n">Chandler-Gilbert Community College</a>
			<p class="adr">
				<span class="street-address">2626 E Pecos Road</span>
				<span class="locality">Chandler</span>,
				<span class="region">AZ</span>
				<span class="postal-code">85225</span>
			</p>
		</div>
	</div>

	<div class="span5">
		<p>
			I'll be presenting <a href="http://nov2012.desertcodecamp.com/session/484">Building a Client/Server Application with Backbone.js</a> at Desert Code Camp 2012. This will be my first time presenting a session, so by all means stop by and heckle.
		</p>
	</div>
</div>