<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Chad Burggraf</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Chad Burggraf is a person.">
		<meta name="author" content="Chad Burggraf">
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ site.baseurl }}css/app-{{ site.version }}.css">
		<!--[if lt IE 9]>
		<script src="{{ site.baseurl }}js/html5.js"></script>
		<![endif]-->
		<!--[if lt IE 8]>
		<style>.header div { left:auto; margin-left:0; }</style>
		<![endif]-->
	</head>