<div class="project-badge">
	{% include badge-side-project-open-source.html %}
	<small>2011 - 2013</small>
</div> 

<p class="project-icon"><i class="icon-tasks"></i></p>

<h3>Blue Collar</h3>

<p class="byline">Background jobs and scheduled work for .NET</p>

<p>
	Blue Collar is a system for creating, managing, and executing background work in .NET applications. It includes an embedded web-based management interface, is data storage agnostic, and can be installed via NuGet, a standard Windows Installer installation package, or by direct binary download.
</p>

<p>
	<a href="http://bluecollardotnet.org/">Project website</a><br>
	<a href="https://github.com/ChadBurggraf/blue-collar">Project source code</a>
</p>