<div class="project-badge">
	{% include badge-side-project-open-source.html %}
	<small>2011 - 2012</small>
</div> 

<p class="project-icon"><i class="icon-cogs"></i></p>

<h3>Serialization.Plists</h3>

<p class="byline">Binary plist serialization and de-serialization for C# and .NET</p>

<p>
	Serialization.Plists is a binary plist read/writer implementation for .NET. It supports the complete plist specification that Apple has published, with two caveats:
</p>

<ul>
	<li>Serialization of opaque data or non plist-compatible objects will break plist editing in Property List Editor</li>
	<li>Sets are treated as arrays</li>
</ul>

<p>
	<a href="https://github.com/ChadBurggraf/plists-cs">Project source code</a>
</p>