<div class="project-badge">
	{% include badge-side-project-open-source.html %}
	<small>2009 - 2010</small>
</div> 

<p class="project-icon"><i class="icon-pencil"></i></p>

<h3>WMD</h3>

<p class="byline">WYSIWYM (What You See Is What You Mean) Markdown editor</p>

<p>
	WMD is a fork of StackOverflow's fork of the original WMD developed by John Fraser. The project is a complete re-architecture of StackOverflow's original de-obfuscation in 2008. The goals of the project were:
</p>

<ul>
	<li>Clean up the external API to make it easier to understand and interact with</li>
	<li>Allow for OO-style WMD instance creation, including multiple instances per page</li>
	<li>Provide a clean mechanism for extending the editor with custom commands</li>
	<li>Maintain library independence, as StackOverflow claimed to be introducing a jQuery dependency</li>
</ul>

<p>
	<a href="https://github.com/ChadBurggraf/wmd">Project source code</a>
</p>