<div class="project-badge">
	{% include badge-client-project-private.html %}
	<small>2011 - 2012</small>
</div> 

<p class="project-icon"><i class="icon-mobile-phone"></i></p>

<h3>i.AM Search</h3>

<p class="byline">Discover the best autism apps for iOS</p>

<p>
	i.AM Search is an iOS app and server platform built to help the autism community discover high quality apps in the iTunes App Store. The iOS app includes the ability to search, save, and share apps discovered using dimensions such as age, grade, independence level, and problem domain (communication, self-awareness, etc.). The app won the Web Marketing Association's 2012 MobileWeb Award for Best Non-Profit/Social Mobile Application.
</p>

<p>
	The server platform hosts a JSON API for speaking with the app, as well as management tools for app curation such as automatic scraping from iTunes, a developer dashboard for data intake from app developers, and workflow management to take apps from input through review and publication.
</p>

<p>
	<a href="http://iamsearch.wynsumarts.com/">Project website</a><br>
	<a href="http://itunes.apple.com/us/app/i.am-search/id459557470?ls=1&mt=8">iOS App page</a>
</p>