<div class="project-badge">
	{% include badge-side-project-private.html %}
	<small>2012 - 2013</small>
</div> 

<p class="project-icon"><i class="icon-mobile-phone"></i></p>

<h3>Jacket</h3>

<p class="byline">Release your inner album.</p>

<p>
	Jacket helps bands release music in the post-CD apocalypse. It is an app and a server application that work together to enable independent musicians to release their albums directly to fans at shows. Albums are delivered to fans' smartphones, with zero intervention, when they are in the audience of a Jacket-powered show.
</p>

<p>
	Jacket is being built with MonoTouch and Windows Azure. 
</p>

<p>
	<a href="https://jacket.io/">Project website</a><br>
</p>