<div class="project-badge">
	{% include badge-client-project-private.html %}
	<small>2008 - 2012</small>
</div> 

<p class="project-icon"><i class="icon-bar-chart"></i></p>

<h3>Survey Engine</h3>

<p class="byline">Enterprise data collection and reporting platform</p>

<p>
	Survey Engine is a platform for creating, distributing and reporting on large data collection initiatives. Distributed as white-labeled, custom installed software, the system boasts many features geared towards advanced data collection scenarios:
</p>

<ul>
	<li>Drag and drop interface</li>
	<li>Arbitrarily long forms with many advanced question types</li>
	<li>Advanced form features such as skip logic, preconditioned questions, custom validation, inter-question validation, conditional pages, versioning, etc.</li>
	<li>Advanced reporting features such as automatic summation and segregation, predicated time series, automatic dimensional time series, and an extensible plug-in system</li>
	<li>Integration features such as an Application API for form, respondent, and report integration; and a Respondent API for form submission and data collection</li>
</ul>

<p>
	Survey Engine currently powers the Council for Juvenile Justice Administrators' Performance-based Standards data collection, which won the Innovations in American Government award from Harvard University, as well as a number of other data collection initiatives.
</p>

<p>
	<a href="http://pbstandards.org/">Performance-based Standards project website</a>
</p>