a,
a:hover {
	color: blue;
	text-decoration: underline;
}

a:visited {
	color: purple;
}

body { 
	padding: 20px;
	min-width: 400px;
}

h1 {
	font-weight: 400;
	color: #101010;
}

h2 {
	margin-bottom: 24px;
	font-weight: 200;
	color: #888;
	border-bottom: 1px solid #e5e5e5;
}

section {
	margin-top: 60px;
}

.byline {
	position: relative;
	top: -4px;
	margin-bottom: 22px;
	font-weight: 200;
	color: #999;
}

.date-time {
	font-weight: 200;
}

.date-time .time {
	color: #999;
}

.header {
	text-align: center;
	margin: 60px 0;
}

.header p {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 200;
	color: #999;
}

.projects h3,
.projects p {
	margin-left: 68px;
}

.projects ol,
.projects ul {
	margin-left: 93px;
}

.projects h3,
.projects .byline {
	margin-right: 170px;
}

.projects .project-badge {
	float: right;
	margin-top: 5px;
	margin-right: 0;
	margin-left: 0;
}

.projects .project-badge i {
	display: block;
	width: 147px;
	height: 16px;
	background: url(../img/project-badges.png) no-repeat;
}

i.project-badge-side-project-open-source {
	background-position: 0 0 !important;
}

i.project-badge-side-project-private {
	width: 126px !important;
	background-position: 0 -16px !important;
}

i.project-badge-client-project-private {
	width: 137px !important;
	background-position: 0 -32px !important;
}

.projects .project-badge small {
	display: block;
	text-align: center
}

.projects .project-icon {
	float: left;
	margin-top: 5px;
	margin-right: 0;
	margin-left: 0;
}

.projects .project-icon i {
	display: block;
	width: 48px;
	height: 48px;
	background: url(../img/project-icons.png) no-repeat;
}

i.project-icon-settings {
	background-position: 0 0 !important;
}

i.project-icon-computer-service {
	background-position: 0 -48px !important;
}

i.project-icon-cloud {
	background-position: 0 -96px !important;
}

i.project-icon-keyboard-wireless {
	background-position: 0 -144px !important;
}

i.project-icon-iphone {
	background-position: 0 -192px !important;
}

i.project-icon-lock {
	background-position: 0 -240px !important;
}

i.project-icon-clipboard {
	background-position: 0 -288px !important;
}

i.project-icon-charts {
	background-position: 0 -336px !important;
}

.social {
	width: 144px;
	margin: 0 auto 11px;
}

.social-icon {
	display: block;
	float: left;
	width: 48px;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
}

.social-icon i {
	display: block;
	width: 24px;
	height: 24px;
	margin-left: 12px;
	background: url(../img/social.png) no-repeat;
}

i.social-icon-github {
	background-position: 0 0 !important;
}

i.social-icon-linkedin {
	background-position: 0 -24px !important;
}

i.social-icon-email {
	background-position: 0 -48px !important;
}

hr.soften {
	height: 1px;
	margin: 54px 0;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0));
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0));
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0));
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0));
	border: 0;
}

.vcard {
	font-weight: 200;
	color: #999;
}

.vcard a,
.vcard span.street-address {
	display: block;
}

.vcard p {
	margin-bottom: 0;
}

@media (max-width: 767px) {
	.vcard p {
		margin-bottom: 11px;
	}
}